$headingColor: #282828;
$lightGray: #999999;
$pageBackground: #f7f8f9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: $pageBackground;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  color: $headingColor;
  background-color: $lightGray;
  text-align: center;
  padding: 16px 0;
}

#filter_completed {
  display: block;
  padding: 0 32px 32px;

  @media screen and (min-width: 600px) {
    display: inline-block;
    width: 50%;
  }
}

#sort_menu {
  display: block;
  position: relative;

  &:hover {
    #sort_caret {
      border-top: none;
      border-bottom: 10px solid #888888;
    }

    ul {
      background-color: #fff;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      display: block;
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) {
    display: inline-block;
  }

  button {
    background: $pageBackground;
    border: none;
    font-size: 16px;
    padding: 5px 8px;
    width: 150px;

    #sort_caret {
      border-top: 10px solid #888888;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: inline-block;
      margin-left: 8px;
      margin-top: -1px;
      height: 0;
      vertical-align: middle;
      width: 0;
    }
  }

  ul {
    display: none;
    list-style-type: none;
    position: absolute;
  }

  li {
    line-height: 1.2;
    padding: 16px;

    &:hover {
      background-color: $pageBackground;
    }
  }

  li.active {
    background-color: lightsteelblue;
  }

  #asc {
    border-top: 1px dashed lightgrey;
  }
}

.hide_completed {
  display: none;
}

.completed {
  text-decoration: line-through;
  color: lighten(#282828, 20%)
}

.todos {
  background-color: #FFFFFF;
  box-shadow: 1px 2px 2px lightgrey;
  padding: 16px 32px;
}

.todo {
  list-style: none;
  padding: 10px;

  .action {
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 6px;
    padding: 3px 0;
    vertical-align: middle;

    &:hover {
      cursor: text;
    }
  }

  &:nth-child(even) {
    background-color: $pageBackground;
    box-shadow: 1px 1px 2px rgba(10,10,10,.1);
  }
}

button.changeStatus {
  background-color: lightblue;
  border-radius: 5px;
  display: inline-block;
  font-size: 10px;
  margin: 0 6px 0 0;
  padding: 2px 0;
  width: 75px;

  &:hover {
    background-color: lighten(lightblue, 10%);
  }
}

button.delete {
  background-color: red;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 6px;
  padding: 4px 7px;
  
  &:hover {
    background-color: lighten(red, 20%);
  }
}

.addTodoForm {
  margin: 0 auto;
  padding: 32px 0;
  text-align: center;

  div {
    text-align: center;
  }

  input[name='action'] {
    border: 1px solid #bababa;
    font-size: 20px;
    min-width: 300px;
    padding: 8px;
    width: 50%;
  }

  button {
    background-color: lightgreen;
    border: 1px solid #bababa;
    border-left: none;
    font-size: 20px;
    padding: 8px;

    &:hover {
      background-color: lighten(lightgreen, 10%);
    }
  }
}